.card-body{
  border: 1px solid gray ;
}
.allimg img{
  width: 320px;
}
.headercolor{
  background-color: #2874F0;
}
.foot1{
  background-color: #2874F0;
  /* #2874F0 */
}
.size{
  font-size: 25px;
  /* background-color: #038D63; */
  /* color: white; */
}
/* .textcolor{
color:#107A8D;
} */
.starcolor{
  color: #FFA41C;
  font-size: 18px;
  /* border: 1px solid #A47C31; */
}
/* .text_color{
  color:#007618;
} */
.shop{
  background-color: #2874F0;
  text-decoration: none;
  border: 2px solid #2874F0;
  color: white;
  border-radius: 20px;
}
.shop:hover{
  background-color: white;
  color:#2874F0;
}
.reting{
  background-color: darkgreen;
  color: white;
  border-radius: 2px;
  padding: 2px;
  font-size: 12px;
}
a{
  text-decoration: none;
}
.off{
  color: darkgreen;

}
.add{
  color: white;
  background-color: #FFA41C;
}
.add1{
  padding: 12px 25px;

}
.add2{
  padding: 12px 40px;
  
}
.textsky{
  color:#2874F0;
}
.size{
  font-size: 14px;

}
